.contact-section {
  min-height: 100vh;
  background: linear-gradient(90deg, #072139, #48d4e4); /* Gradient background */
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Resume Title */
.resume-title {
  font-size: 2rem;
  color: #123444;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

/* Resume Button */
.resume-button {
  background-color: #245F73;
  color: white;
  padding: 12px 24px;
  font-size: 1.2rem;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s;
}

.resume-button:hover {
  background-color: #733E24;
  transform: scale(1.05);
}

/* Contact Title */
.contact-title {
  font-size: 3rem;
  font-weight: bold;
  background: #123444;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 20px;
}

/* Contact Description */
.contact-description {
  font-size: 1.5rem;
  color: #c6b5b8;
  text-align: center;
  margin-bottom: 20px;
}

/* Contact Button */
.contact-button {
  background-color: #1d3557;
  color: rgb(185, 128, 138);
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
}

.contact-button:hover {
  background-color: #457b9d;
  transform: scale(1.05);
}

/* Social Icons */
.contact-icons a {
  transition: transform 0.4s ease;
}

.contact-icons a:hover {
  transform: rotate(360deg) scale(1.2);
}

/* Footer Text */
.footer-text {
  font-size: 1rem;
  color: #e0e0e0;
  margin-top: 20px;
  text-align: center;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .contact-title {
    font-size: 2.5rem;
  }

  .contact-description {
    font-size: 1.2rem;
  }

  .resume-button {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .contact-icons a {
    margin: 0 5px;
  }
}
