/* Ensure no overflow in the experience container */
.experience-container {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; /* Prevent horizontal overflow */
  /* background: linear-gradient(to right, #5670ad, #8ebfde); */
  background: rgb(13, 13, 13);
  padding: 40px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.typing-heading {
  color: #5987c4;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

.experience-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;
  width: 100%; /* Ensure no extra width is added */
  box-sizing: border-box; /* Include padding and border in width */
  padding: 0 10px; /* Add padding to avoid edge overflow */
}

.experience-box {
  width: 414px;
  max-width: 90%; /* Ensure the box adapts to smaller screens */
  padding: 30px;
  /* background: linear-gradient(to bottom, #A1C4FD, #C2E9FB); */
  background: #afc4da;
  /* border: 2px solid #537895; */
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, background-color 0.5s ease, color 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience-box:hover {
  transform: scale(1.05);
  /* background: linear-gradient(to bottom, #537895, #A1C4FD); */
  background: linear-gradient(90deg, #174a7c 0%, #99acc0 100%);
}

.experience-box:hover .experience-company,
.experience-box:hover .experience-title,
.experience-box:hover .experience-duration,
.experience-box:hover p {
  color: #E4EfE9;
}

.experience-company {
  color: #09203F;
  margin-bottom: 10px;
}

.experience-title {
  color: #537895;
  font-weight: bold;
  margin-bottom: 5px;
}

.experience-duration {
  color: #537895;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .experience-boxes {
    flex-direction: column;
    align-items: center; /* Center align on smaller screens */
  }

  .experience-box {
    width: 90%; /* Adapt to screen size */
    margin-bottom: 20px;
  }
}
