.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Allows content to expand without overflow */
  background: linear-gradient(to right, #2292b7, #bb741e);
  color: white;
  text-align: center;
  padding: 40px;
  gap: 20px;
  position: relative;
  overflow:hidden;
  width: 100%;
  /* margin-bottom: 60px; Ensures space between Hero and next section */
}

/* For larger screens */
@media (min-width: 769px) {
  .hero-container {
    flex-direction: row;
    text-align: left;
    padding: 40px;
    align-items: center;
  }
}

/* Image styling for all screens */
.hero-image {
  border-radius: 50%;
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
  flex-shrink: 0;
  z-index: 1;
}

/* Center image and content on smaller screens */
@media (max-width: 768px) {
  .hero-image {
    max-width: 200px;
    margin-top: 80px;
  }

  .hero-text-container {
    align-items: center;
    text-align: center;
  }
}

.hero-text-container {
  max-width: 600px;
  z-index: 1;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(90deg, #2c7188, #af6038);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.hero-typewriter {
  font-size: 1.8rem;
  font-weight: 500;
  color: #F2F0EF;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.cursor {
  display: inline-block;
  animation: blink 0.8s step-end infinite;
  color: #F2F0EF;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.hero-description {
  font-size: 1.2rem;
  color: #d5e4eb;
  margin-top: 20px;
}

.resume-button {
  margin-top: 30px;
  background-color: #245F73;
  color: white;
  padding: 15px 30px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.resume-button:hover {
  background-color: #733E24;
}
