/* Navbar base styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* Navbar colors for different sections */
.navbar-home {
  background: linear-gradient(90deg, #25afdd 0%, #db7846 100%);
  color: white;
}

.navbar-passion {
  background: linear-gradient(90deg, #4a8cca, #db122d);
  color: white;
}

.navbar-experience {
  background: linear-gradient(90deg, #1e5fa1 0%, #afc4da 100%);
  color: white;
}

.navbar-skills {
  background: linear-gradient(90deg, #128298, #a3cfe0);
  color: #E4F1E9;
}

.navbar-projects {
  background: linear-gradient(90deg, #cd6958, #457B9D);
  color: white;
}

.navbar-contact {
  background: linear-gradient(90deg, #032e57, #33daec);
  color: white;
}

/* Navbar links styling */
.navbar-links {
  list-style: none;
  gap: 1.5rem;
  margin-left: auto;
}

/* Mobile: Hide links initially */
@media (max-width: 768px) {
  .navbar-links {
    display: none; /* Hide links initially */
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }

  /* Show links when open */
  .navbar-links.open {
    display: flex;
  }
}

/* Font color when hamburger menu is open */
.mobile-menu-open {
  color: white !important; /* Change font color to white */
}

.navbar-link {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s ease;
  cursor: pointer;
}

.navbar-link:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: teal;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}
