@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

/* Ensure Poppins is applied globally */
body {
  font-family: 'Poppins', sans-serif;
}

.passion-section {
  min-height: 100vh;
  background: #0c0c0c;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 120px 40px;
}

.section-title {
  font-size: 3rem;
  /* font-weight: bold; */
  background: #BAB0D4;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 100px;
  text-align: center;
}

.passion-content {
  display: flex;
  gap: 80px;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 50px;
}

.passion-item {
  max-width: 350px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.passion-item:hover {
  transform: scale(1.1);
}

.passion-icon {
  font-size: 4rem;
  color: #dbc7c7;
}

.passion-title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 10px;
  background: #7d768f;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.passion-description {
  font-size: 1.1rem;
  color: #dee2e9;
  margin-top: 10px;
}
